body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
}

div {
    max-width:500px;
    max-height:550px;
    min-height: 200px;
    margin: auto;
}

#box{
background-color: white;
position: relative;
left: 200px;
bottom: 550px;
}

#iframebox{
width: 600px;
height: 600px;
}

