
label
{
	width: auto;
	height: auto;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
	padding: 0.1em;
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 1px;
	margin:2px 0 0 10px;
}

select#hizkuntza
{
	width: auto;
	height: auto;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
	border: 1px solid #acacac;
	border-radius: 4px;
	padding: 0.1em;
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 1px;
	margin:0 0 0 0;
}

.hobespenakButton,.baliabideakButton{
	height: auto;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
	border: 0px solid #acacac;
	border-radius: 4px;
	padding: 0.1em;
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 1px;
	margin:0 0 0 0;
}


.buttonHizkuntza{
	height: auto;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
	border: 1px solid #acacac;
	border-radius: 4px;
	padding: 0.1em;
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 1px;
	margin:0 5 5 0;
}

input#bilatzailea
{
	width: 150px;
	height: auto;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
	border: 1px solid #acacac;
	border-radius: 4px;
	padding: 0.1em;
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 1px;
	margin:0 0 0 0;
}

input:focus {
    outline: none !important;
    box-shadow: 0 0 10px grey;
}